<div class="intro">
  <div class="intro-user">
  </div>
</div>

<div class="container">
  <div class="row">

    <div class="col-lg-12">
      <%= image_tag user_avatar(@user), class: 'center-block img-circle' %>
      <h1 class="text-center"><%= @user.name %></h1>
      <% if can_edit_user?(@user) %>
        <div class="buffer-top-xl text-center">
          <%= link_to 'Редактировать аватар/инфо', edit_user_path, class: 'btn btn-default' %>
          <%= link_to 'Сменить пароль', edit_user_registration_path, class: 'btn btn-default' %>
          <%= link_to 'Выйти', destroy_user_session_path, method: :delete, class: 'btn btn-danger' %>
        </div>
      <% end %>
    </div>
  </div>

  <div class="row">
    <div class="col-md-6 buffer-top">
      <h2>Кто автор?</h2>
      <div class="text-center">
        <p class="paragraf buffer-top-xl buffer-bottom-xl text-justify post-writer">
          <%= @user.info%>
        </p>
      </div>
    </div>
    <div class="col-md-6 buffer-top">
      <h2>Есть что сказать?</h2>
      <%= render partial: 'feedbacks/form',
                 locals: {feedback: @feedback || @user.feedbacks.build} %>
    </div>
  </div>

  <div class="row">
    <div class="col-lg-12">
      <% if can_edit_user?(@user) %>
        <% if @user.posts.any? %>
          <hr>
          <h2>Твои записи:</h2>
          <small><mark>(желтым подсвечены не опубликованные записи)</mark></small>
          <p class="buffer-top">
            <%= render partial: 'posts/post', collection: @user_posts %>
          </p>
            <div class="text-center">
              <%= will_paginate @user_posts, renderer: BootstrapPagination::Rails,
                                previous_label: '&laquo;', next_label: '&raquo;' %>
            </div>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
