<!--ToDo удали меня когда переделаешь контроллер с обратной формой-->
<div class="intro">
  <div class="contact-form">
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-lg-12">
      <h2>Форма обратной связи</h2>
      <p>Есть что сказать? Напишите мне!</p>
      <%= simple_form_for @contact, :url => contacts_path do |f| %>
        <%= f.input :name, :label => t('.name') if ContactUs.require_name %>
        <%= f.input :email, :label => t('.email') %>
        <%= f.input :subject, :label => t('.subject') if ContactUs.require_subject %>
        <%= f.input :message, :as => :text, :label => t('.message') %>

        <%= recaptcha_tags %>

        <%= f.button :submit, :value => t('.submit'), :alt => t('.submit'),
                     :id => 'contact_us_contact_submit',
                     :title => t('.submit'), class: 'btn btn-primary' %>

        <%= link_to 'Назад', :back, class: 'btn btn-default' %>
      <% end %>
    </div>
  </div>
</div>
