<%= simple_form_for(@post) do |f| %>
  <%= render partial: 'partials/form_errors', locals: {model: @post} %>

  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="form-group">
          <%= f.input :title %>
        </div>
        <p class="buffer-top-xl"><em>
          Для вставки vimeo видео используй конструкцию "vimeovideo:233459603"<br>
          Где номер после двоеточия - это номер видео на vimeo
        </em></p>
        <div class="form-group">
          <%= f.input :post, as: :wysihtml5,
                      wysihtml5: ({'toolbar': {'font-styles': false, 'blockquote': false}}),
                      input_html: { :rows => 20 }
          %>
        </div>

        <div class="form-group">
          <%= f.label :mainimg %>
          <p>Размер картинки должен составлять 1900x350</p>
          <p><%= image_tag(@post.mainimg.url, class: "img-responsive") if @post.mainimg? %></p>
          <%= f.file_field :mainimg %>
        </div>

        <div class="form-group">
          <p><em>Чекбокс ниже отвечает за видимость статьи для других пользователей</em></p>
          <%= f.check_box :visible %>
          <%= f.label :visible %>
        </div>

        <div class="actions">
          <%= f.submit 'Сохранить', class: 'btn btn-primary' %>
          <%= link_to 'Назад', :back, class: 'btn btn-default' %>
        </div>

      </div>
    </div>
  </div>


<% end %>
