<div class="row">
  <div class="col-sm-12">
  <hr>

    <%= link_to post do %>
      <% if post.visible %>
            <h4><%= post.title %></h4>
      <% else %>
            <h4><mark><%= post.title %></mark></h4>
      <% end %>
    <% end %>
    <p class="post-writer"><%= strip_tags(post.post_preview(150)) %></p>
    <p class="post-writer"><%= post.created_at.strftime('%e.%-m.%Y') %></p>
  </div>
</div>
