<div class="intro">
  <div class="intro-home">

    <div class="jumbotron cover">
      <h1><%= t('app.name') %></h1>
      <p>Всякая перемена, даже перемена к лучшему, всегда сопряжена с неудобствами.</p>
    </div>

  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-lg-12">
      <% @posts.each do |post| %>
        <% if can_see_post?(post) %>
        <div class="post-box">
          <div class="row">
            <div class="col-lg-12">
              <%= link_to post do %>
                <h1><%= post.title %></h1>
              <% end %>
              <%= link_to post do %>
                  <% if post.mainimg? %>
                    <%= image_tag(post.mainimg.url, class: "img-responsive") %>
                  <% else %>
                    <img src="<%= asset_path('post.jpg') %>" alt="..." class="img-responsive">
                  <% end %>
              <% end %>
            </div>
            <%= link_to post do %>
              <div class="col-lg-12 post-text">
                <p><%= strip_tags(post.post_preview(250)) %></p>

                <!--<%= link_to 'Edit', edit_post_path(post) %>-->
                <!--<%= link_to 'Destroy', post, method: :delete, data: {confirm: 'Are you sure?'} %>-->
              </div>
            <% end %>
            <div class="col-lg-12 post-writer">
              Опубликовано пользователем <%= link_to post.user.name, post.user %>,
              <%= l post.created_at.to_date, format: :default %>
            </div>
          </div>
        </div>
        <% end %>
      <% end %>
      <div class="text-center">
        <%= will_paginate @posts, renderer: BootstrapPagination::Rails,
                          previous_label: '&laquo;', next_label: '&raquo;' %>
      </div>

    </div>
  </div>
</div>
