<div class="intro">
  <%= content_tag 'div', '', class: 'intro-post',
                  style: "background-image: url(#{post_img(@post)})" %>
</div>

<div class="container">
  <div class="row">
    <div class="col-lg-12">
      <% if can_see_post?(@post) %>
        <div class="post-box">
          <h1><%= @post.title %></h1>

          <p class="text-justify"><%= @post.post.html_safe %></p>

          <hr>
          <div class="col-lg-12">
            <div class="col-md-2">
              <div class="text-center buffer-top-xl buffer-bottom-xl">
                <%= link_to @post.user do %>
                  <p><%= image_tag user_avatar(@post.user), class: 'img-circle' %></p>
                <% end %>
              </div>
            </div>
            <div class="col-md-10">
              <%= link_to @post.user do %>
                <p class="paragraf buffer-top-xl buffer-bottom-xl text-justify post-writer"><%= @post.user.info%></p>
              <% end %>
            </div>
          </div>
        </div>

        <%= link_to 'Назад', posts_path, class: 'btn btn-default' %>
        <% if current_user_can_edit?(@post) %>
          <%= link_to 'Исправить', edit_post_path(@post), class: 'btn btn-warning' %>
          <div class="pull-right">
            <%= link_to 'Удалить', post_path(@post), method: :delete,
                          data: { confirm: t('views.delete.confirm') }, class: 'btn btn-danger' %>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>
</div>

