<div class="intro">
  <div class="intro-post">
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-lg-12">
      <h1><%= @post.title %></h1>

      <p class="text-justify"><%= @post.post %></p>
      <p><%= @post.user.name %></p>
      <%= link_to 'Исправить', edit_post_path(@post), class: 'btn btn-warning' %>
      <%= link_to 'Назад', posts_path, class: 'btn btn-default' %>
    </div>
  </div>
</div>

